@{
    ViewData["Title"] = "About Buffteks";
}
<h2 class="text-white">@ViewData["Title"]</h2>

<h4 class="text-white">Our Mission Statement</h4>
<p class="text-white">As a College of Business organization, we strive to create technical solutions for local businesses while helping students strengthen leadership, technical excellence and business acumen.</p>
<p class="text-white">We meet on Wednesdays from 5:00 p.m. to 7:00 p.m.</p>