@{
    ViewData["Title"] = "Contact Buffteks";
}
<h2 class="text-white">@ViewData["Title"]</h2>

<h3 class="text-white">Mailing Address</h3>
<hr>
<address class="text-white">
    Jeff Babb<br />
    2501 4th Ave<br />
    P.O. Box 42<br />
    Canyon, TX 79016<br />
</address>

<h3 class="text-white">Phone Number</h3>
<hr>
    <p class="text-white">Phone: 122-333-4444</p>